body{
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:Aeial;
}
#container{
	margin:0px auto;
	width:100%;
	text-align:left;
}
#banner{
	margin:0px;
	padding:0px;
	background:#789;
	height:150px;
	width:100%;
}
#globllink{
	margin:2px 5px 2px 5px;
	padding:0px;
	height:50px;
	width:100%;
}
#globllink ul{
	list-style-type:none;
	
}
#globllink ul li{
	float:left;
	text-align:center;
	width:20%;
	font-size:20px;
}
#globllink ul li a{
	display:block;
	padding:9px 6px 11px 6px;
	margin:0px;
}
#globllink a:hover{
	color:#666666;
	text-decoration:none;
}

#left{
	padding:0px;
	color:#d8ecff;
	background:green;
	height:500px;
	width:20%;
	float:left;
}
#middle{
	padding:0px;
	color:#d8ecff;
	background:blue;
	height:500px;
	width:60%;
	float:left;
}
#right{
	padding:0px;
	color:#d8ecff;
	background:pink;
	height:500px;
	width:20%;
	float:left;
}
#foot{
	padding:0px;
	color:#d8ecff;
	background:orange;
	height:100px;
	width:100%;
	clear:both;
}